* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

.mycustom {
  width: 200px;
  height: 200px;
  border-radius: inherit;
}
.mycustom .img {
  max-width: 100%;
  height: auto;
  
}
.cardimag{
  height: 200px;
  width: 200px;
  position: relative;
  border: 2px solid #0275d8;
}
.imgCard{
  height: 100px;
  width: 100px;
  position: relative;
}

.card-title{
  position: absolute;
  bottom: 20px;
  
  
}
.card-text{
  position: absolute;
  bottom: -15px;
  
}
.gradeTriangle{
  opacity: 0.2;
    width: 0px;
    height:0px;
    border-bottom: 75px solid #000;
    border-right: 75px solid transparent;
    
    bottom: 0;
    left: 0;
    position: absolute;
    color: transparent;
    }
.amountContainer{
    position:absolute;
    padding:1%;
    bottom:-45px;
    left:3px;
}
.btn-modal {
      position:relative;
    padding:1%;
    left: 35%;
  
}
.carousel-inner{
    height: 450px;
}

.item, img{
    position: absolute;
}
.carousel-caption{
  left: 0;
  right: 0;
}
.z5{
  background-color: 
    rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .navbar-expand-lg .navbar-collapse {
  display: flex!important;
  justify-content: space-around;
  flex-basis: auto;
  }


}

    /* Small screen max-width 575px */
    @media only screen and (max-width: 575px){
      .myimg{
        height: 450px;
      }
      .cardimag2{
  height: 100px;
  width: 100px;
  position: relative;
}
    }
    /* Medium screen min-width 576px */ 
    @media only screen and (min-width:576px){      .myimg{
      height: 450px;
    }
                                            .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}}
    /* Medium screen min-width 641px and max-width 1024px */
    @media only screen and (min-width:576px) and (max-width:767px){.myimg{
      height: 450px;
    }
                                                                  .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}}     
    /* Large screen min-width 1025px */ 
    @media only screen and (min-width: 768px){.myimg{
      height: 450px;
    }
                                             .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}} 
     /* Large screen min-width 1025px and max-width 1440px */    
    @media only screen and (min-width: 768px) and (max-width: 991px){.myimg{
      height: 450px;
    }
                                                                    .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}}
    /* Extra large screens  min-width 1441px */
    @media only screen and (min-width: 992px){.myimg{
      height: 450px;
    }
                                             .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}}
     /* Extra large screens  min-width 1441px and max-width 1920px */   
    @media only screen and (min-width: 992px) and (max-width: 1999px){.myimg{
      height: 450px;
    }
                                                                     .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}}
    /* Extra Extra large screens min-width 1921px */  
    @media only screen and (min-width: 1200px){.myimg{
      height: 450px;
    }
                                              .cardimag2{
  height: 125px;
  width: 125px;
  position: relative;
}} 
.r8{
  color: #000000;
  font-family: 'Antonio', sans-serif;
}


